a:hover,
.top-header.light_skin .list_menu li a:hover,
.btn-outline-default,
.link_container a,
.list_style_1.color_blue li::before, 
.list_style_2.color_blue li::before, 
.list_style_4.color_blue li::before,
.btn-outline-white:hover,
.contact_info a:hover, 
.post_content h6 a:hover, 
.footer_link li a:hover,
.icon_box_style_3 i,
header.light_skin.nav-fixed .social_icons li a:hover,
.sub_title,
.icon_box_style_4 i,
.slider_tab li.active i, 
.slider_tab li:hover i,
.icon_box_style_5 i,
.overlay_menu .navbar-collapse > .navbar-nav > li > a:hover,
.tab-style4 .nav-tabs .nav-item a.active,
.post_navigation a:hover .nav_meta,
.pagination .page-item a,
.pagination_style5 .page-item.active .page-link, 
.pagination_style5 .page-item .page-link:hover,
.pagination_style6 .page-item.active .page-link, 
.pagination_style6 .page-item .page-link:hover,
.tab-style1 .nav-tabs .nav-item a.active,
.tab-style2 .nav-tabs .nav-item a.active,
.tab-style6 .nav-tabs .nav-item a.active,
.toggle_info a,
.header_info li i,
.icon_box_style_9 .box_icon i,
.list_menu li a:hover,
.widget_links_style2 li a:hover,
.icon_box_style_11 .box_icon i,
.icon_box_style_13 .box_icon i,
.shorting_icon.active,
.event_meta li i,
.single_event_info li i,
.tab-style2.tab_white .nav-tabs .nav-item a:hover,
.tab-style2.tab_white .nav-tabs .nav-item a.active,
.tab-style4.tab_white .nav-tabs li.nav-item a:hover,
.tab-style4.tab_white .nav-tabs li.nav-item a.active,
.tab-style5.tab_white .nav-tabs li.nav-item a:hover,
.tab-style6.tab_white .nav-tabs li.nav-item a:hover,
.tab-style6.tab_white .nav-tabs li.nav-item a.active,
.footer_dark .tags a:hover,
.icon_box_style_16 .box_icon i,
.event_info li i,
.author_info span {
	color: #aa9172;
}

.btn-default.btn-aylen:hover,
.blog_heading *:hover,
.blog_postmeta a:hover {
	color: #0e93d8 !important;
}

.btn-default,
.heading_s1::before,
.btn-outline-default:hover,
.icon_box_style_1 i,
.filter_tab1 li a.current,
.filter_tab1 li a:hover,
.list_style_3.color_blue li::before,
.bg_blue,
.scrollup:hover,
.loader_grid .loader_box,
.icon_box_style_3 i::after, 
.icon_box_style_4 i::after,
.filter_tab3 li a.current, .filter_tab3 li a:hover, 
.filter_tab4 li a.current, .filter_tab4 li a:hover,
.filter_tab2 li a.current, 
.filter_tab2 li a:hover,
.filter_tab5 li a.current, 
.filter_tab5 li a:hover,
.icon_box_style_5::before,
.icon_box_style_2 i,
.page-item.active .page-link, 
.page-item .page-link:hover,
.custome-radio input[type="radio"] + .form-check-label::after,
.custome-checkbox input[type="checkbox"]:checked + .form-check-label::before,
.tab-style3 .nav-tabs .nav-item a.active,
.tab-style5 .nav-tabs .nav-item a.active,
.icon_box_style_9:hover,
.tab-style7 .nav-tabs .nav-item a.active, 
.tab-style7 .nav-tabs .nav-item a:hover,
.sliding_tab .tab_bg,
.tab-style8 .nav-item a.active,
.list_style_5 li::before,
.hover_menu_style4 .navbar-expand-lg .navbar-nav > li:hover > a,
.hover_menu_style4 .navbar-expand-lg .navbar-nav > li > a.active,
.filter_tab6 li a.current, .filter_tab6 li a:hover,
.filter_tab li a.active,
.heading_s5::before, .widget_title3::before,
.pagination_style7 .page-item.active .page-link,
.pagination_style7 .page-item .page-link:hover,
.tab-style9 .nav-item a.active,
.tab-style9 .nav-item a:hover,
.icon_box_style_16::before,
.tab-style10 .nav-tabs .nav-item a.active,
.circle_list::before,
.tab-style11 .nav-tabs .nav-item a:hover, 
.tab-style11 .nav-tabs .nav-item a.active,
.slide_tab li.active .icon_box,
.pagination_style8 .page-item.active .page-link, 
.pagination_style8 .page-item .page-link:hover,
 .widget_search_box .btn, .widget_search_box button{
	background-color: #333;
}

.heading_s2::after,
.heading_s2::before {
	background-color: #aa9172;
}

.btn-default:hover,
.cart_buttons .view-cart:hover, 
.cart_buttons .checkout:hover {
	background-color: #1083c8;
}

.hover_menu_style4 .navbar-expand-lg .navbar-nav.attr-nav li a.active, 
.hover_menu_style4 .navbar-expand-lg .navbar-nav.attr-nav > li:hover > a {
	background-color: transparent;
}

.btn-default,
.btn-outline-default,
.filter_tab1 li a.current,
.filter_tab1 li a:hover,
.icon_box_style_3 i,
.filter_tab3 li a.current, .filter_tab3 li a:hover, 
.filter_tab4 li a.current, .filter_tab4 li a:hover,
.icon_box_style_4 i,
.filter_tab2 li a.current,
.filter_tab2 li a:hover,
.tab-style4 .nav-tabs .nav-item a.active,
.page-item.active .page-link, 
.page-item .page-link:hover,
.blockquote,
.custome-radio input[type="radio"]:checked + .form-check-label::before,
.tab-style2 .nav-tabs .nav-item a.active,
.tab-style5 .nav-tabs .nav-item a.active,
.form_style3 .form-control:focus,
.filter_tab6 li a.current, .filter_tab6 li a:hover,
.tab-style11 .nav-tabs .nav-item a:hover, 
.tab-style11 .nav-tabs .nav-item a.active,
.pagination_style8 .page-item.active .page-link, 
.pagination_style8 .page-item .page-link:hover {
	border-color: #0e93d8;
}

.btn-default:hover {
	border-color: #1083c8;
}

.blue_overlay_bg::before,
.instafeed li a::before,
.bg_blue_transparent {
	background-color: rgba(14,147,216,0.80);
}

.post_date::before,
.cl_price::before,
.event_date:after {
	border-color: transparent #1083c8 transparent transparent;
}
.tab-style4 .nav-tabs {
	border-color: rgba(14,147,216,0.2)
}
.text_default {
	color: #55bbeb !important
}
.filter_tab1 li a.current, .filter_tab1 li a:hover,
.filter_tab2 li a.current, .filter_tab2 li a:hover,
.filter_tab3 li a.current, .filter_tab3 li a:hover, 
.filter_tab4 li a.current, .filter_tab4 li a:hover,
.filter_tab5 li a.current, .filter_tab5 li a:hover,
.filter_tab6 li a.current, .filter_tab6 li a:hover {
	color: #fff;
}

.custome_select::before {
	border-top-color: #0e93d8;
}

.classis_box:hover:before {
	background: -moz-linear-gradient(90deg, rgba(14,147,216,1) 0%, rgba(255,255,255,0.06) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.06)), color-stop(100%, rgba(14,147,216,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(14,147,216,1) 0%, rgba(255,255,255,0.06) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(14,147,216,1) 0%, rgba(255,255,255,0.06) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(14,147,216,1) 0%, rgba(255,255,255,0.06) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(14,147,216,1) 0%, rgba(255,255,255,0.06) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#0e93d8',GradientType=0 ); /* ie6-9 */  
}

.filter_tab li a.active {
	box-shadow: 0 0 10px #0e93d8;
}

.btn_box_shadow:hover,
.btn_box_shadow:focus,
.btn_box_shadow.active:focus,
.btn_box_shadow:active:focus {
	box-shadow: 0 0 15px #0e93d8 !important;
}

.tab-style7 li a.active::before {
	border-color: #0E93D8 transparent transparent transparent
}